/* Navbar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 70px;
}

.logo {
  color: #1e1e1e;
  font: 700 26px/150% "Lato", sans-serif;
}

ul {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #1e1e1e;
  font: 400 16px/150% "Lato", sans-serif;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 0;
}

.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 466;
  margin-top: 80px;
}

.left-content {
  display: flex;
  flex-direction: column;
  width: 585px;
  height: auto;
}

.title-header {
  color: #1e1e1e;
  text-align: left;
  font: 700 40px/150% "Lato", sans-serif;
  width: auto;
}

.desc-header {
  color: #1e1e1e;
  font: 400 20px/30px "Lato", sans-serif;
  width: auto;
  margin: 0;
  margin-top: 40px;
}

.sosmed-wrapper {
  display: flex;
  gap: 30px;
  margin-left: -6px;
  margin-top: 88px;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ttitle-content {
  margin: 0;
  color: #1e1e1e;
  font: 700 26px/150% "Lato", sans-serif;
}

.stack-wrapper {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}
